# <u>**Accessing scripts folder**</u>

In [1]:
import os, sys
my_path ="D:\\10XAcademy\\Prompt_Engineering_Design" 

os.chdir(my_path)
path_to_module = os.path.abspath(os.getcwd()+"\\scripts")
if path_to_module not in sys.path:
    sys.path.append(path_to_module)

# <u>**Fetching data**</u>

In [2]:
from add_to_SQL_DB import db_execute_fetch
from extract_dataframe import save_df_to_csv
jobs_dataframe = db_execute_fetch(dBName='prompt_engineering', tablename='JobsDesc')
# training dataframe
train_dataframe = jobs_dataframe.iloc[0:22]
# testing dataframe
test_dataframe = jobs_dataframe.iloc[22:]
save_df_to_csv(train_dataframe,os.getcwd()+"\\data\\jobs_desc_train.csv")

33 records fetched from JobsDesc table

# <u>**Dataset Exploration**</u>

In [3]:
train_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         22 non-null     int64
 1   Document   22 non-null     object
 2   Tokens     22 non-null     object
 3   Relations  22 non-null     object
dtypes: int64(1), object(3)
memory usage: 832.0+ bytes

In [4]:
test_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 22 to 32
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         11 non-null     int64
 1   Document   11 non-null     object
 2   Tokens     11 non-null     object
 3   Relations  11 non-null     object
dtypes: int64(1), object(3)
memory usage: 484.0+ bytes

In [5]:
train_dataframe.shape

(22, 4)

In [6]:
test_dataframe.shape

(11, 4)

In [7]:
train_dataframe.head()

,id,Document,Tokens,Relations
0,166,Bachelor's degree in Mechanical Engineering or...,"[{'text': 'Bachelor', 'start': 0, 'end': 8, 't...","[{'child': 4, 'head': 0, 'relationLabel': 'DEG..."
1,167,10+ years of software engineering work experie...,"[{'text': '10+ years', 'start': 0, 'end': 9, '...","[{'child': 4, 'head': 0, 'relationLabel': 'EXP..."
2,168,3+ years Swift & Objective-C and experience wi...,"[{'text': '3+ years', 'start': 0, 'end': 8, 't...","[{'child': 3, 'head': 0, 'relationLabel': 'EXP..."
3,169,8+ years experience in software engineering le...,"[{'text': '8+ years', 'start': 0, 'end': 8, 't...","[{'child': 5, 'head': 0, 'relationLabel': 'EXP..."
4,170,BS degree in Computer Science or related field...,"[{'text': 'BS', 'start': 0, 'end': 2, 'token_s...","[{'child': 3, 'head': 0, 'relationLabel': 'DEG..."

In [8]:
test_dataframe.head()

,id,Document,Tokens,Relations
22,188,"\nCurrently holding a faculty, industry, or go...","[{'text': 'Ph.D.', 'start': 75, 'end': 80, 'to...","[{'child': 18, 'head': 14, 'relationLabel': 'D..."
23,189,\n2+ years experience in the online advertisin...,"[{'text': '2+ years', 'start': 1, 'end': 9, 't...","[{'child': 7, 'head': 1, 'relationLabel': 'EXP..."
24,190,\nBA/BS\n5+ years of program or project manage...,"[{'text': '5+ years', 'start': 7, 'end': 15, '...","[{'child': 11, 'head': 5, 'relationLabel': 'EX..."
25,191,\nCurrently enrolled in a full-time degree pro...,"[{'text': 'Ph.D.', 'start': 801, 'end': 806, '...","[{'child': 140, 'head': 137, 'relationLabel': ..."
26,192,\nCurrently enrolled in a full-time degree pro...,"[{'text': 'Ph.D.', 'start': 801, 'end': 806, '...","[{'child': 140, 'head': 137, 'relationLabel': ..."

In [9]:
train_dataframe.drop(['id','Document'],axis=1).describe()

       Tokens Relations
count      22        22
unique     21        21
top        []        []
freq        2         2

In [10]:
test_dataframe.drop(['id','Document'],axis=1).describe()

,Tokens,Relations
count,11,11
unique,10,10
top,"[{'text': 'Ph.D.', 'start': 801, 'end': 806, '...","[{'child': 140, 'head': 137, 'relationLabel': ..."
freq,2,2

# <u>**JOB DETAILS EXTRACTION**</u>